@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --dark: #27292e;
  --darkest: #181a1b;
  --darker: #161819;
  --primary: #0c68e6;
  --lightBorder: #373a41;
  --blueGrad: linear-gradient(0deg, #181a1b 3.58%, #0c69ea 100%);
  --lBlueGradHori: linear-gradient(
    90deg,
    #43cdfd 0%,
    #40cbfd 18.23%,
    #0c67e5 100%
  );
  --lBlueGradVert: linear-gradient(
    180deg,
    #43cdfd 0%,
    #40cbfd 18.23%,
    #0c67e5 100%
  );
}

/* COMMON */
img {
  background-color: #333741;
}

body {
  background-color: var(--darkest);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

input {
  color: white;
  font-family: "Poppins", sans-serif;
}
button{
  background: none;
}

/* BACKGROUNDS */
.normalBg {
  background-color: var(--dark);
  box-sizing: border-box;
}

/* TEXT */
#logo {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

h2,
h3 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 18px;
}

/* COLORS */
.paraColor {
  opacity: 0.6;
}
.lightText {
  opacity: 0.4;
}
